.pagina-canals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 50px;
    background-image: url('https://th.bing.com/th/id/OIP.nbhTAf7-GaFOA14mGQq9HQHaEK?rs=1&pid=ImgDetMain');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: 100%;
   
    .parteI{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .parteII{
        table {
            width: 1200px;
    
            th {
                text-align: left;
                padding: 5px;
            }
    
            td {
                padding: 5px;
                border-top: 1px solid #000;
            }
        }
    }
   
    
}